h3 {

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36px;
	color: #333; 

	}

h4 {

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	color: #222; 

	}

li {

	font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333333;
    font-size: 18px;

	}

span {

	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;

	}

.F {

		color:red;

		}

.T {

		color:green;

		}

.Q {

		color:orangered;

		}

.S {

		color:navy;

		}